* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.meyvn:root {
  --primary-color: #003366;
  --sec-color: #00cc66;
  --accent-color: #ffd700;
  --heading-bold-font: lato;
  --body-text-font: roboto;
}

:root {
  /* Light Mode Colors */
  --background-light: #f9f9f9;
  --yellow-color: #c29d59;
  --content-light: #202020;
  --black-color: #000;
  --primary-light: #924aef;
  --primary-light-hover: #7c3fcb;
  --white-color: #fff;

  /* Other Variables */
  --box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  --transition: 1s cubic-bezier(0.22, 0.78, 0.45, 1.02);
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: var(--content-light);
}

input,
input:focus,
button,
button:focus {
  outline: none;
}

select,
select:focus {
  outline: none;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

a {
  color: var(--yellow-color);
  transition: var(--transition);
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

input,
button {
  overflow: visible;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  font-size: 16px;
  line-height: 24px;
  color: var(--content-light);
}

.container {
  width: 90%;
  margin: auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.row {
  display: flex;
  display: -ms-flexbox;
}

.vrow {
  flex-direction: column;
}

.hrow {
  flex-direction: row;
}

/*=== DASHBOARD STYLES ====*/

.dashboard,
.tour-mgt {
  width: 100%;
  height: 100%;
  display: flex;
  background: var(--white-color);
}

.admin-chat,
.dashboard-tour {
  height: 100vh;
}

/*dashboard-NAVBAR*/
.dashboard-navbar {
  background: var(--background-light);
  box-shadow: var(--box-shadow);
  max-width: 230px;
  width: 100%;
  height: 100%;
}

.dashboard-navbar .container {
  padding-top: 20px;
}

.dashboard-navbar .container .vrow {
  margin: auto;
}

.user-data {
  margin-bottom: 5px;
  padding: 0 20px;
  text-align: center;
}

.user-image img {
  width: 50px;
}

.user-id {
  margin-right: auto;
  padding-left: 5px;
  line-height: 2px;
}

.user-id h3 {
  font-size: 23px;
  font-weight: 700;
  color: var(--);
}

.nav-main-link {
  padding: 8px 0;
}

.nav-main-link h4.h5-title {
  color: var(--text-light);
}

.nav-link {
  padding: 5px 20px;
  margin-bottom: 5px;
  transition: var(--transition);
}

.nav-link.dropdown h4 span {
  font-weight: 400;
  transition: var(--transition);
}

.nav-link.dropdown h4:hover {
  color: var(--primary-light);
}

.dropdown .dropdown-content a:hover {
  color: var(--primary-light);
}

.dropdown-content {
  background: var(--content-light);
  padding: 10px 5px;
  border-radius: 5px;
}

.nav-link h4 {
  color: var(--white-color);
}

.nav-link:hover {
  background: var(--content-light);
}

.nav-link a:hover {
  color: var(--primary-light);
  text-decoration: line-through;
}

.nav-link a span {
  margin-left: 5px;
}

.down-nav-links {
  padding: 0 20px;
}

.down-nav-links .nav-title {
  font-weight: 600;
  padding: 5px 0;
  color: var(--content-light);
}

.nav-place-link a {
  color: var(--text-light);
  font-weight: light;
  padding: 3px 2px;
  display: flex;
  align-items: center;
}

.nav-place-link .yellow {
  color: var(--yellow-color);
}
.nav-place-link a .low-op {
  font-weight: lighter;
  opacity: 0.6;
}

.nav-place-link a span.show-more {
  margin-left: 5px;
  color: var(--yellow-color);
  font-weight: lighter;
}

.container hr {
  opacity: 0.1;
  margin: 10px 0;
}

.container .logout a {
  padding: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

.container .logout a:hover {
  background: var(--white-color);
}

.container .logout a span.icon {
  font-size: 26px;
  padding: 0 8px 0 4px;
}

/*=== MAIN DASHBOARD CONTENT === */

.main-content {
  width: calc(100% - 220px);
  height: 100%;
  background: var(--white-color);
}

.header-nav {
  padding: 15px 0;
  color: var(--content-light);
  opacity: 0.6;
}

.right-header-nav {
  font-size: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-greeting {
  padding: 10px 0;
}

.user-greeting h3 {
  color: var(--black-color);
}

.setting,
.theme {
  padding: 10px;
}

.theme:hover,
.setting:hover {
  background: var(--content-light);
  color: var(--white-color);
  filter: brightness(2);
}

.theme,
.setting {
  border-radius: 10px;
  opacity: 1;
  transition: var(--transition);
}

.theme {
  margin-left: 5px;
  background: var(--content-light);
}

.middle-content {
  width: 66.6666667%;
}

.middle-content .row,
.upcoming-box-wp .row {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.upcoming-box-wp .row {
  padding: 0;
  width: 100%;
}

.upcoming-box-wp .row .upcoming-box {
  width: 49%;
  background: var(--background-light);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}

.upcoming-box-wp .row .upcoming-box img {
  height: 100%;
  width: auto;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.upcoming-box-wp .row .upcoming-box .up-text {
  margin-left: auto;
  margin-right: auto;
  color: var(--content-light);
}

.upcoming-box-wp .row .upcoming-box .up-text .row .icon {
  display: flex;
  align-items: center;
  color: var(--yellow-color);
}

.upcoming-box-wp .row .upcoming-box .up-text .row .icon img {
  width: auto;
  height: 20px;
  border-radius: 50%;
}

.upcoming-box-wp .row .upcoming-box .up-text h6.h6-title span.low-op {
  opacity: 0.3;
}

.dashboard-content {
  width: 100%;
}

.dashboard-content .row {
  margin-bottom: 10px;
}

.booking-content,
.expense-content {
  width: 49%;
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 5px;
  background: var(--background-light);
}

.upcoming-box {
  width: 100%;
  display: flex;
  align-items: center;
}

.booking-content img,
.expense-content img {
  height: 100%;
  margin-right: 10px;
  padding: 5px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  opacity: 0.6;
}

.booking-content-data,
.expense-content-data {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.upper-content-data .row .text1 {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  color: var(--content-light);
}

.upper-content-data .row .text1 h5.h5-title {
  color: var(--content-light);
}

.upper-content-data .row .text1 span {
  color: var(--black-color);
  font-size: 32px;
  font-weight: bolder;
}

.upper-content-data .side-icon {
  font-size: 32px;
  margin-left: 10px;
}

.booking-content-data hr {
  width: 100%;
  left: 0;
  right: 0;
}

.lower-content-data a {
  bottom: 0;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.payment-history {
  width: 100%;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  margin-top: 20px;
  background: var(--background-light);
  height: auto;
}

.upcoming {
  width: 100%;
  margin-top: 20px;
}

.upcoming-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upcoming-header a {
  align-items: center;
  display: flex;
}

.upcoming-box-wp {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 5px;
  justify-content: space-around;
}

.side-content {
  width: 30.77777%;
}

.side-content-row {
  display: flex;
  flex-direction: column;
}

.friend h4,
.friend h6 {
  color: var(--background-light);
}

.friend p,
.friend span,
.friend a {
  color: var(--text-light);
}

.friend,
.dashboard-cta-sec {
  width: 100%;
  box-shadow: var(--box-shadow);
  background: var(--background-light);
  border-radius: 10px;
}

.friend .container {
  width: 100%;
  margin: auto;
}

.friend .container .sec-title {
  padding: 20px 0 10px 10px;
  background: #676767;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.friend-list {
  width: 100%;
  margin: auto;
}

.friend-box {
  padding: 5px 10px;
  border-right: none;
  border-left: none;
  border-top: 1px solid var(--white-color);
  border-bottom: 1px solid var(--white-color);
  transition: var(--transition);
  border: 1px solid var(--background-light);
}

.friend-box:first-child {
  margin-top: 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.friend-box:first-child:hover {
  border-top: none;
}

.friend-box:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.friend-box:last-child:hover {
  border-bottom: none;
}

.friend-box:hover {
  background: var(--white-color);
  border-bottom: 1px solid var(--content-light);
  border-top: 1px solid var(--content-light);
}

.friend-box .row {
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.friend-img img {
  width: 45px;
  height: 45px;
  border: 2px solid var(--white-color);
  border-radius: 50%;
}

.friend-id .h6-title {
  line-height: 0;
  color: var(--content-light);
}
.friend-id p {
  font-weight: lighter;
}

.chat-icon {
  font-weight: lighter;
  font-size: 23px;
  color: var(--text-light);
}

.dashboard-cta-sec .container {
  padding: 10px;
}

.dashboard-cta-sec .container .row {
  margin: 10px auto;
}

.dashboard-cta-sec .container .row.time-rem {
  padding: 10px 0;
}

.dashboard-cta-sec .container .row.time-rem p {
  color: var(--white-color);
  font-weight: normal;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.dashboard-cta-sec .container .row.time-rem p span {
  font-size: 15px;
  margin-left: 5px;
}

.dashboard-cta-sec .container .row .dash-btn {
  background: var(--white-color);
  padding: 2px 10px;
  border-radius: 5px;
}

.dashboard-cta-sec .container .row.ship-country {
  align-items: center;
  opacity: 1;
}

.dashboard-cta-sec .container .row.ship-country div h4 {
  line-height: 6px;
  color: var(--white-color);
}

.dashboard-cta-sec .container .row.ship-country div p {
  color: var(--white-color);
  font-weight: lighter;
}

.dashboard-cta-sec .container .row.ship-country .icons {
  align-items: center;
  display: flex;
  letter-spacing: 0;
}

.dashboard-cta-sec .container .row.ship-country .icons p {
  font-size: 20px;
  font-weight: lighter;
}

.dashboard-cta-sec .container .row.user-card {
  padding: 5px;
  align-items: center;
}

.dashboard-cta-sec .container .row.user-card .dash-btn {
  align-items: center;
}

.dashboard-cta-sec .container .row.user-card h5 {
  color: var(--white-color);
  align-items: center;
  display: flex;
  opacity: 0.9;
}

.dashboard-cta-sec .container .row.user-card h5 span {
  margin-left: 5px;
  font-weight: 500;
}

.dashboard-cta-sec .container .row.user-card span.dash-btn {
  display: flex;
  align-items: center;
}

.btn.dashboardbtn {
  width: 100%;
  background: var(--white-color);
  color: #676767;
  margin-bottom: 10px;
}

/*====>> ADMIN TOUR PAGE <<========*/

.tour-mgt .tour-container {
  width: 95%;
  padding: 10px;
  margin: 10px auto;
}

.tour-list {
  width: 100%;
}

.tour-list-table .tour-mgt-header {
  background: var(--background-light);
  filter: brightness(0.6);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}

.tour-mgt-header .row h4.h4-dtitle {
  color: var(--content-light);
  text-transform: uppercase;
  padding: 15px 20px;
  font-size: 18px;
  font-weight: bold;
}

.tour-mgt-body .tour {
  margin: 2px 01px;
  box-shadow: var(--box-shadow);
  transition: var(--transition) all;
  background: var(--background-light);
}

.tour-mgt-body .tour:last-child {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.tour-mgt-body .tour:hover {
  filter: brightness(1.6);
  border-color: var(--content-light);
}

.tour-mgt-body .tour .row {
  justify-content: space-between;
  align-items: center;
}

.tour-mgt-body .tour .row div {
  padding: 10px 20px;
}

.tour-mgt-body .tour .row div span {
  padding: 6px 10px;
  background: var(--background-light);
  filter: brightness(1.1);
  box-shadow: inset var(--box-shadow);
  color: var(--text-light);
}

.tourId h4.h4-dtitle {
  color: var(--white-color);
}

/*======>> CHAT APP/DASHBOARD <<=====*/

.admin-chat {
  width: calc(100% - 250px);
}

.admin-chat .chat-app {
  width: 100%;
}

.chat-app .chat-container {
  width: 95%;
  margin: auto;
}

.chat-container .chat-header {
  width: 100%;
  padding: 20px;
  margin-top: 10px;
  filter: brightness(0.9);
  color: var(--white-color);
  background: var(--background-light);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.chat-header .chat-main-nav row {
  justify-content: space-between;
  width: 100%;
  display: flex;
  margin: auto;
}

.chat-main-nav .row .chat-inbox,
.chat-main-nav .row .chat-draft,
.chat-main-nav .row .chat-trash {
  padding: 10px;
  margin: 0 0 5px 0;
  transition: var(--transition);
  background: var(--white-color);
}

.chat-main-nav .row .chat-inbox {
  border-top-left-radius: 10px;
}
.chat-main-nav .row .chat-trash {
  border-top-right-radius: 10px;
}

span.chat-user-msg.col-6 p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.chat-main-nav .row .chat-inbox:hover,
.chat-main-nav .row .chat-draft:hover,
.chat-main-nav .row .chat-trash:hover {
  filter: brightness(0.7);
}

.chat-main-nav .row .chat-inbox span.chat-header-title,
.chat-main-nav .row .chat-draft span.chat-header-title,
.chat-main-nav .row .chat-trash span.chat-header-title {
  color: var(--content-light);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
}

.other-chat-action.col-2 {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.other-chat-action.col-2 .chat-act-btn {
  color: var(--content-light);
  margin: 3px;
  display: flex;
  align-items: center;
  border: 1px solid #20202025;
}

.refresh-icon {
  width: auto;
  padding: 10px;
  height: 40px;
  border-radius: 2px;
  font-size: 18px;
  background: #20202025;
}

.npbtn {
  background: #20202005;
  padding: 5px;
  font-size: 16px;
  border-radius: 2px;
}

.npbtn.np2 {
  background: #20202015;
}
.chat-header-cta {
  display: flex;
  align-items: center;
  padding: 10px 0 0 0;
}

.chat-header-cta .chat-select-all.checkbox-item input {
  width: 20px;
  background: var(--white-color);
  height: 20px;
}

.chat-header-cta .chat-select-all.checkbox-item input:checked {
  color: var(--white-color);
  border-color: var(--content-light);
  background: var(--content-light);
}

.chat-header-cta .chat-delete-btn button {
  padding: 5px 10px;
  border: 1px solid var(--content-light);
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 12px;
  transition: var(--transition);
}

.chat-header-cta .chat-delete-btn button:hover {
  background: var(--white-color);
}

.chat-body .chat-msg-list {
  background: #f6f6f6;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.chat-msg-list .message-box {
  padding: 13px;
  margin: 0.5px auto;
  width: 100%;
  background: #a6a6a6;
  transition: var(--transition);
}

.chat-msg-list .message-box:hover {
  background: transparent;
}

.chat-msg-list .message-box:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dashboard-nav {
  width: 250px;
  box-shadow: var(--box-shadow);
  background: var(--white-color);
  max-height: 100%;
  height: 100vw;
  position: fixed;
}

.dashboard-nav .container {
  width: 90%;
  margin: auto;
  padding: 30px 0;
}

.dashboard-nav .container .row {
  flex-direction: column;
  margin: auto 0;
  padding: 10px;
}

.dashboard-nav .container .row .logo-image,
.dashboard-nav .container .row .dashboard-nav-title,
.dashboard-nav .container .row .dashboard-navlink-wp {
  padding: 10px 0;
}

.dashboard-nav .container .row .dashboard-nav-title h3.nav-title {
  text-transform: uppercase;
  font-weight: 600;
  color: #bbbbbb;
  padding: 5px 0;
}

.dashboard-navlink-wp .dashboard-navlink a {
  font-size: 18px;
  text-transform: capitalize;
  color: var(--content-light);
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 15px 5px;
  margin-bottom: 1px;
  justify-content: space-between;
}

.dashboard-navlink-wp .dashboard-navlink a:hover {
  background: var(--background-light);
  color: var(--yellow-color);
}

.dashboard-navlink-wp .dashboard-navlink a span {
  margin-right: auto;
  margin-left: 10px;
}

.dashboard-main {
  background: var(--background-light);
  width: calc(100% - 250px);
  margin-left: 250px;
  height: 100vh;
  max-height: 100%;
}

/* >>>>>>>>>>>>DASHBOARD TOUR SECTION<<<<<<<<<*/
.dashboard-tour-main {
  width: 100%;
}

.dashboard-tour-main .container .row {
  width: 100%;
}

.dashboard-tour-sec .container .row .dashboard-tour-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 10px 30px 10px;
}

.dashboard-tour-sec .container .row .dashboard-tour-header .section-title {
  text-transform: capitalize;
  color: var(--black-color);
}

.dashboard-tour-sec
  .container
  .row
  .dashboard-tour-header
  .dashboard-tour-button
  a
  span {
  padding-left: 10px;
}

.dashboard-tour-main .dashboard-container {
  width: 100%;
  padding: 5px;
  margin: auto;
  border-radius: 10px;
  background: var(--white-color);
}

.dashboard-tour-main .dashboard-container .row {
  margin-left: 0;
  margin-right: 0;
}

.dashboard-tour-main .dashboard-container .row .dashboard-tour-table-header {
  width: 100%;
}

.dashboard-tour-main
  .dashboard-container
  .row
  .dashboard-tour-table-header
  .row,
.dashboard-tour-main
  .dashboard-container
  .row
  .dashboard-tour-table-content
  .row {
  width: 100%;
  display: flex;
  padding: 15px 0;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  text-transform: capitalize;
  border-bottom: 1px solid var(--black-color);
}

.dashboard-tour-main
  .dashboard-container
  .row
  .dashboard-tour-table-content
  .row:last-child {
  border-bottom: 0;
}

.dashboard-tour-main
  .dashboard-container
  .row
  .dashboard-tour-table-header
  .row
  span {
  font-weight: bold;
  font-size: 20px 0;
}

.dashboard-tour-main .dashboard-container .row .dashboard-tour-table-content {
  width: 100%;
  color: var(--content-light);
  font-weight: 400;
}

.dashboard-tour-main
  .dashboard-container
  .row
  .dashboard-tour-table-content
  .row
  span {
  display: flex;
  font-weight: 300;
}

.dashboard-tour-table-content .row span button {
  outline: none;
  border: 0;
  background: transparent;
  margin-right: 5px;
  padding: 5px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: lighter;
  opacity: 0.6;
  transition: var(--transition);
}

.dashboard-tour-table-content .row span button:hover {
  opacity: 1;
  background: var(--background-light);
  box-shadow: 0 0 6px var(--content-light);
}

/* >>> USERS SECTION <<< */

.dashboard-user-sec {
  width: 100%;
  padding: 30px 20px;
}

.dashboard-user-sec .container .row .dashboard-user-main {
  margin: 0 -15px;
}

.dashboard-user-sec .container .row {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
}

.dashboard-user-sec .container .row .dashboard-user-header {
  padding: 10px 0 13px 0;
}

.dashboard-user-sec .container .row .dashboard-user-header .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dashboard-user-header .row .section-title h2 {
  text-transform: uppercase;
  font-size: 26px;
  color: var(--black-color);
  font-weight: 900;
}

.dashboard-user-header .row .section-title p.section-subtitle {
  font-weight: lighter;
  color: var(--content-light);
  text-transform: capitalize;
  font-size: 14px;
}

.dashboard-user-main {
  background: var(--white-color);
  margin: auto;
  width: 100%;
  border-radius: 10px;
  display: flex;
}

.dashboard-user-main .user-container {
  width: 100%;
  padding: 0 10px;
}

.dashboard-user-main .user-container .user-main-header .row,
.dashboard-user-main .user-container .user-main-content .row {
  margin: 0;
}

.dashboard-user-main .user-container .row .user-main-header .row {
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  justify-content: space-between;
  background: var(--background-light);
}

.user-main-header .row .left-side,
.user-main-header .row .right-side {
  display: flex;
  align-items: center;
  padding-top: 0;
  margin-top: 0;
}

.user-main-header .row .left-side .filter-icon {
  padding: 5px;
  width: 50px;
  height: 50px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  color: var(--white-color);
  background: var(--yellow-color);
  transition: var(--transition);
}

.user-main-header .row .left-side .filter-icon:hover {
  border-radius: 50%;
}

.user-main-header .row .right-side .topdf-icon,
.user-main-header .row .right-side .toexcel-icon,
.user-main-header .row .right-side .print-icon {
  padding: 5px;
  width: 45px;
  height: 45px;
  border-radius: 2px;
  display: flex;
  font-size: 21px;
  align-items: center;
  justify-content: center;
  color: var(--content-light);
  transition: var(--transition);
}

.user-main-header .row .right-side .topdf-icon:hover,
.user-main-header .row .right-side .toexcel-icon:hover,
.user-main-header .row .right-side .print-icon:hover {
  background: var(--white-color);
  color: var(--yellow-color);
  border-radius: 50%;
  box-shadow: 0 0 6px wheat;
}

ul.pagination {
  padding: 5px;
  border-radius: 5px;
  background: var(--background-light);
  justify-content: space-between;
}

ul.pagination {
  list-style: none;
  display: flex;
  align-items: center;
  transition: var(--transition);
}

.user-main-header{
  margin: -6px;
}




.pagination li .page-link-btn {
  border: none;
  height: 40px;
  padding: 0 15px;
  font-size: 20px;
  font-weight: bold;
  align-items: center;
  cursor: context-menu;
  display: inline-flex;
  color: var(--dark-color);
  justify-content: center;
  background: rgb(0 0 0 / 6%);
  transition: var(--transition);
  box-shadow: 0 0 1px var(--white-color);
}

.pagination li .page-link-btn:hover {
  background: rgb(0 0 0 / 20%);
  box-shadow: 0 0 1px rgb(0 0 0 / 16%);
}



.numberedPage .page-item{
  padding: 7px;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
  color: var(--content-light);
  background: var(--white-color);
}

.active a.page-item{
  color: var(--white-color);
  background: var(--yellow-color);
}

.user-main-content .row .user-list-header {
  padding: 5px 0;
  background: var(--background-light);
}

.user-main-content .row .user-list-header .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.user-list-header .row .user-check-box.input-box input {
  width: 18px;
}

.user-main-content .row .user-list .user-detail .row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-main-content .row .user-list .user-detail {
  border-bottom: 1px solid var(--content-light);
  padding: 5px;
}

.user-main-content .row .user-list .user-detail:last-child {
  border: 0;
}

.user-check-box.input-box input {
  width: 18px;
}

.user-list .user-detail .row.col-12 .user-fullname,
.user-list .user-detail .row.col-12 .user-status,
.user-list .user-detail .row.col-12 .user-location {
  text-transform: capitalize;
}

.user-list .user-detail .row .user-action button {
  outline: none;
  border: 0;
  background: transparent;
  margin-right: 5px;
  padding: 5px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: lighter;
  opacity: 0.6;
  transition: var(--transition);
}

.user-list .user-detail .row .user-action button:hover {
  opacity: 1;
  background: var(--background-light);
  box-shadow: 0 0 6px var(--content-light);
}

.user-list .user-detail .row.col-12 .user-fullname span,
.user-list .user-detail .row.col-12 .user-status span,
.user-list .user-detail .row.col-12 .user-email span,
.user-list .user-detail .row.col-12 .user-location span,
.dashboard-tour-table-content .row span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.user-list .user-detail .row.col-12 .user-status span {
  color: var(--yellow-color);
  font-weight: lighter;
}

/*<<<<<<<<<<  DASHBOARD HOME PAGE <<<<<<<<<<*/
.dashboard-home-header {
  width: 100%;
  padding-top: 30px;
}

.dashboard-home-container .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
}

.dashboard-home-container .row .hello-user h2 {
  text-transform: capitalize;
  color: var(--content-light);
}

.dashboard-home-container .row .hello-user p {
  text-transform: capitalize;
  font-weight: lighter;
}

.dashboard-home-container .row .right-side {
  display: flex;
  margin-top: 0;
}

.dashboard-home-container .row .right-side .notification {
  height: 50px;
  width: 50px;
  justify-content: center;
  text-align: center;
  border: 2px solid var(--yellow-color);
  padding: 10px;
  border-radius: 50%;
  margin: 0 5px;
  font-size: 26px;
  transition: var(--transition);
}

.dashboard-home-container .row .right-side .notification:hover {
  box-shadow: 0 0 6px var(--yellow-color);
  border-color: var(--background-light);
  color: var(--white-color);
  background: var(--yellow-color);
}

.dashboard-home-container
  .row
  .right-side
  .add-tour-button
  a.add-tour-btn
  span {
  white-space: nowrap;
}

.dashboard-home-main .container .row {
  display: flex;
  flex-direction: column;
}

.dashboard-main-sec .row {
  display: flex;
  flex-direction: row;
}

.dashboard-main-sec .row .home-tour-box {
  padding: 20px 10px;
  background: var(--white-color);
  border-radius: 5px;
  box-shadow: 0 0 6px whitesmoke;
}

.home-tour-box h4 {
  padding: 5px;
  font-size: 21px;
  text-transform: uppercase;
  color: var(--content-light);
}

.home-tour-box ul li {
  white-space: nowrap;
  padding: 3px 0;
}

.home-tour-box ul li a {
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 5px 10px;
  transition: var(--transition);
}

.home-tour-box ul li a:hover {
  background: var(--background-light);
  color: var(--content-light);
  box-shadow: var(--box-shadow);
}

.home-tour-box ul li a span {
  margin-left: 5px;
}

.home-tour-box a.box-more-btn {
  text-transform: capitalize;
  font-size: 18px;
  padding: 5px 10px;
  margin-top: 10px;
  color: var(--content-light);
  background: var(--background-light);
}

.edit-user {
  top: 50%;
  left: 50%;
  margin: auto;
  width: 420px;
  position: fixed;
  max-width: 100%;
  border-radius: 10px;
  padding: 25px 30px 50px 30px;
  box-shadow: var(--box-shadow);
  transform: translate(-50%, -50%);
  background: var(--background-light);
}

.edit-tour {
  margin: auto;
  width: 650px;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  background: var(--background-light);
  padding: 30px 20px;
}

form.edit-tour-form .col-12 {
  display: flex;
  width: 100%;
  margin: 10px 0;
}

form.edit-user-form h3 {
  padding: 15px 0;
  font-size: 24px;
  text-shadow: 0 0 6px var(--white-color);
  font-weight: bold;
  color: var(--black-color);
}

form.edit-user-form h3 span {
  color: var(--yellow-color);
}

form.edit-user-form span.input-box {
  margin: 10px 0;
}

form.edit-user-form span.input-box input {
  transition: var(--transition);
}

form.edit-user-form span.input-box input::placeholder {
  text-transform: capitalize;
  opacity: 0.2;
  font-weight: lighter;
  color: var(--yellow-color);
}

form.edit-user-form span.input-box input:focus {
  color: var(--yellow-color);
  font-size: 18px;
}

form.edit-user-form span.edit-form-button button.cancel-edit-btn {
  margin: 5px 10px 0 0;
  color: var(--white-color);
  background: var(--dark-color);
}

form.edit-user-form span.edit-form-button button.cancel-edit-btn:hover {
  background: var(--white-color);
}

.edit-tour h2 {
  color: var(--content-light);
  text-transform: capitalize;
  padding: 10px 20px;
}

.edit-tour h2 span {
  color: var(--yellow-color);
}

span.input-box.no-arrow.col-6 {
  padding: 0 3px;
}

.edit-tour input::placeholder {
  opacity: 0.2;
}

.edit-tour-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-tour-btn button {
  margin: 10px 5px 10px 5px;
}
.edit-tour-btn button:first-child {
  margin-left: 0;
}

.edit-tour-btn button.cancel-btn {
  background: var(--dark-color);
}
.edit-tour-btn button.cancel-btn:hover {
  background: var(--yellow-color);
}

@media (max-width: 769px) {
  .edit-tour .input-box.no-arrow .icon {
    display: none;
  }
}

.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(14, 1, 29, 0.2);
  z-index: 999;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 100px;
  height: 100px;
  border: 2px solid transparent; /* Border color */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: zoom 1s infinite alternate, colorChange 5s infinite;
  position: relative;
}

.outer {
  width: 140px;
  height: 140px;
  animation-duration: 1.2s;
}

.middle {
  width: 80px;
  height: 80px;
  animation-duration: 0.8s;
}

.inner {
  width: 40px;
  height: 40px;
  animation-duration: 0.6s;
}

.inniest {
  width: 20px;
  height: 20px;
  animation-duration: 0.4s;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes colorChange {
  0% {
    border-color: var(--primary-light-hover);
  }
  25% {
    border-color: var(--yellow-color);
  }
  50% {
    border-color: var(--primary-light);
  }
  75% {
    border-color: var(--yellow-color);
  }
  100% {
    border-color: var(--primary-light);
  }
}

.navlog {
  bottom: -13vh;
  position: relative;
}

.navlog a {
  padding: 10px;
  display: flex;
  font-size: 18px;
  align-items: center;
  border-radius: 3px;
  background: var(--background-light);
  border: 0.1px solid var(--yellow-color);
  transition: var(--transition);
}

.navlog a:hover {
  box-shadow: 0 0 6px #bbb;
  border: transparent;
}

.navlog a span {
  margin-left: 5px;
}

@media (max-width: 900px) {
  .middle-content {
    width: 100%;
  }
  .dashboard-content .row .side-content {
    display: none;
  }

  .user-main-content .row .user-list-header .row .user-phone-header,
  .user-detail .row .user-phone {
    display: none;
  }
  .dashboard-tour-main .dashboard-container .row .dashboard-tour-table-header {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
  }
}

@media (max-width: 750px) {
  .dashboard-tour-main
    .dashboard-container
    .row
    .dashboard-tour-table-header
    .row
    span.duration-header,
  .dashboard-tour-main
    .dashboard-container
    .row
    .dashboard-tour-table-content
    .row
    span.durationValue {
    display: none;
  }
}

.contact-list .dashboard-contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}

.dashboard-contact .dashboard-contact-header {
  padding: 10px;
  background: #0006;
  margin: auto;
  width: 100%;
}

.dashboard-contact-header .row.header-contact {
  flex-direction: column;
  width: 100%;
  margin: auto;
}

.dashboard-contact-header .row .contact-title {
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--black-color);
}

.dashboard-contact-header .row .contact-subtitle {
  font-size: 16px;
  color: var(--content-light);
  text-transform: capitalize;
}

.dashboard-contact .dashboard-contact-body {
  margin-top: 5px;
  padding: 10px;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: var(--white-color);
}

.dashboard-contact-body .contact-header .row {
  width: 100%;
  margin: auto;
  padding: 10px;
  font-weight: bold;
  justify-content: center;
  flex-direction: row;
  text-transform: uppercase;
  box-shadow: 0 0 6x var(--background-light);
  border-bottom: 5px solid var(--background-light);
}

.dashboard-contact-body .contact-body .row {
  width: 100%;
  margin: auto;
  padding: 10px 5px;
  justify-content: center;
  border-bottom: 1px solid var(--content-light);
}

.dashboard-contact-body .contact-body .row:last-child {
  border-bottom: none;
}

.dashboard-contact-body .contact-body {
  width: 100%;
  flex-basis: 100%;
  padding-top: 20px;
}

.dashboard-contact-body .contact-body .row {
  flex-direction: row;
}

.dashboard-contact-body .contact-body .row:hover {
  background: var(--background-light);
}

.contact-body .contact-msg-content {
  margin-bottom: 2px;
}

.contact-body .contact-msg-content span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  font-size: 12px;
}

.contact-body .contact-msg-content span.contact-fullname,
.contact-body .contact-msg-content span.contact-service {
  text-transform: capitalize;
}
.contact-body .contact-msg-content span.contact-service {
  color: var(--yellow-color);
}

.contact-body .contact-msg-content span.contact-action button {
  border: 0;
  margin: 2px;
  padding: 5px;
  border-radius: 50%;
  font-size: 11px;
  align-items: center;
  font-weight: lighter;
  justify-content: center;
  background: var(--background-light);
  transition: var(--transition);
}

.contact-body .contact-msg-content span.contact-action button:hover {
  box-shadow: 0 0 2px var(--content-light);
}

.dashboard-user-sec .container .tour-booking {
  width: 100%;
}

.tour-booking .row .booking-header,
.tour-booking .row .booking-body {
  width: 100%;
  background: var(--white-color);
}

.tour-booking .row .booking-header {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 100%;
}

.dashboard-user-sec .booking-header .row {
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.booking-header .row div {
  display: flex;
  flex-direction: column;
}

.row .booking-header-title span.booking-title {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 23px;
  color: var(--content-light);
}
.row .booking-header-title span.booking-subtitle {
  text-transform: capitalize;
  font-weight: lighter;
  font-size: 16px;
  color: var(--content-light);
}

.row .total-bookings span {
  text-transform: capitalize;
  color: var(--content-light);
}
.row .total-bookings span b {
  color: var(--black-color);
  text-decoration: underline;
}

.tour-booking .row .booking-body {
  margin-top: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.booking-body .row {
  width: 100%;
  margin: auto;
  padding: 5px;
}

.row .bookings-header .row {
  flex-direction: row;
  border-bottom: 2px solid var(--content-light);
}

.row .bookings-header .row span {
  text-transform: uppercase;
  font-weight: 600;
  color: var(--content-light);
  text-align: center;
}

.row .bookings-content .row {
  flex-direction: row;
}

.row .bookings-content .row span {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

span.booking-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

span.booking-btn button {
  margin-right: 1px;
  flex-basis: 40%;
  font-size: 10px;
  border: 0;
  padding: 5px;
  border-radius: 50%;
  font-weight: lighter;
  border: 1px solid transparent;
  color: var(--black-color);
  background: var(--yellow-color);
  transition: var(--transition);
}

span.booking-btn button:last-child {
  background: var(--background-light);
}

span.booking-btn button:hover {
  color: var(--white-color);
  background: var(--yellow-color);
  border-color: var(--background-light);
}
